<h4>Recipients Needing Donations:</h4>
<table class="table table-hover">

  <% @recipients.each do |recipient| %>
  <tr>

    <td>
      <%= link_to recipient.name, charity_recipient_path(recipient.charity.slug, recipient) %>
      <p>Description: <%= recipient.description %><p>
    </td>

  </tr>
  <% end %>
</table>
