<ul>
  <% @recipients.each do |recipient| %>
  <li><%= link_to recipient.name, charity_recipient_path(recipient.charity.slug, recipient) %></li>
      <p><%= recipient.description %><p>
  <% end %>
</ul>
