<h1>Donation <%= @donation.id %></h1>
<h4>Date Placed: <%= @donation.date.strftime("%A, %B %e, %Y") %></h4>
<table class="table">

  <table class="table table-hover">
    <div class="col-sm-12 col-md-4 col-lg-4">
    <tr>
      <th>Item Name:</th>
      <th>Item Quantity:</th>
    </tr>

      <tr>
        <% @donation.donation_items.each do |donation_item| %>
        <td>
            <%= donation_item.need_item.need.name %>
        </td>
        <td>
          <%= donation_item.need_item.quantity %>
        </td>
      </tr>
  </div>
  <% end %>
</table>
<a href="/donations" button type="button" class="btn btn-info">Back to Donations</button>
