<h2>Submit Your Charity</h2>

<%= form_for @charity, multipart: true do |f| %>

  <%= render partial: "/shared/charity_form", locals: {f: f}  %>

  <%= f.submit "Submit Charity", class: "btn btn-primary" %>
<% end %>
