/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body {
  font-family: 'Assistant';
}

 .feature-box {
   position: relative;
   overflow: hidden;
   width:100%;
   margin-top: -20px;
 }

 .feature-banner {
   float: left;
   background-color: #294541;
   min-height: 100px;
   width: 100%;
   color: white;
   padding-left: 80px;
   padding-top: 12px;
 }

 .feature-left {
   float: left;
   width: 50%;
   background-color: #00C9A7;
   min-height: 200px;
   padding-bottom: 500em;
   min-width: 200px;
   margin-bottom: -500em
 }
.feature-img {
  float: right;
}

.feature-right {
  float: left;
  width: 50%;
  min-height: 300px;
  background-color: #00C9A7;
  padding-bottom: 500em;
  margin-bottom: -500em;

}

.feature-text {
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 80px;
  color: white;

}

.feature-text h1 {
  font-weight: bolder;
}

.feature-text p {
  font-size: 125%;
}


.recipient-box {
  position: relative;
  overflow: hidden;
  width:100%;
  margin-left: 170px;
  margin-top: 50px;
}

.recipient-box :hover {
  background-color: #ccffee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.recipient-feature {
  width: 15%;
  float:left;
  border-radius: 4px;
  border-color: #294541;
  border-width: 2px;
  border-style: solid;
  margin-left: 35px;
  min-height: 300px;

}

.recipient-img img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipient-text{
  padding-left: 10px;
  padding-right: 10px;
}

.donate-button {
    background-color: white;
    color: black;
    border: 2px solid #294541;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    margin-left: 50px;
}

.lists {
  margin-top: 50px;
}
.donation-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.donation-text h2 {
  text-transform: uppercase;
}


 .tags a {
   background-color: gray;
   height: 30px;
   padding: 5px;
   margin: 5px;
   border-radius: 6px;
   text-align: center;
   color: #ffbf00;
   min-width: 100px;
   font-size: 12px;
 }

 .tags a:hover {
   text-decoration: none;
   color: white;
 }

 .tags {
   max-width: 300px;
   display: inline-block;
 }

.family-heading {
  display: inline-block;
  max-width: 400px;
}

.learn-more {
  background-color: #1f1f14;
  height: 50px;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
  color: #ffbf00;
  font-weight: bold;
  font-size: 16px;
}

.learn-more a:visited {
  color: #ffbf00;
}
.photo img {
  border-radius: 6px;
}

.photo p {
  max-width: 500px;
}

.learn-more a:hover {
  color: gray;
  text-decoration: none;
}

.greeting {
  border: 2px solid black;
  border-radius: 10px;
}

.greeting img {
  padding: 10px;
}

.greeting p {
  text-align: center;
}

.lead-text {
  background-color: #2e2e2e;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-left: 15px;
}

.lead-text .pop {
  color: #ffbf00;
  font-weight: bold;
  font-size: 20px;
}

.lead-text a {
  color: #ffbf00;
}

.logo {
  max-width: 50px;
}

.nationality {
  margin: 3rem 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nationality p + h4 {
  margin-top: 1.5rem;
}

.details h4 {
  text-align: center;
}

.tweet-heading {
  text-align: center;
  font-size: 28px;
}

.tweets-div {
  margin-top: -20px;
  color: white;
  background: #2e2e2e;
  margin-top: 0px;
  margin-bottom: 60px;
  max-height: 362px;
  overflow: scroll;
}

.tweets-div blockquote {
  font-size: 14px;
  font-weight: normal;
}

.box {
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: -10px;
}

.box h2 {
  color: white;
}

.box h1 {
  font-size: 44px;
  color: #2e2e2e;
  padding-top: 10px;
}

.box-grey {
  background: #2e2e2e;
  min-height: 150px;
}

.box-yellow {
  background: #ffbf00;
  margin-left: -20px;
  min-height: 150px;
}

.custom-nav {
  padding-top: 20px;
  font-size: 16px;
}

.twitter-image {
  max-width: 50px;
  display: block;
  margin: auto;
}

.home-photo {
  margin-left: -20px;
  margin-right: -20px;
}

.home-photo img {
  border: 2px solid #2e2e2e;
}
