<h2>All Roles</h2>

 <%= button_to "Add New Role", new_admin_user_user_role_path(@user), method: :get%>

<table>
  <tr>
    <th>
      Role
    </th>
    <th>
      Charity
    </th>
    <th>
      Delete
    </th>
  </tr>
  <tr>
    <% @user.user_roles.each do |user_role| %>
    <td> <%= user_role.role.name %> </td>

    <td> <% if user_role.charity %>
      <%= user_role.charity.name %>
      <% end %>
    </td>
    <td>
    </td>
    <% end %>
  </tr>
</table>
