<h1>Admin Dashboard</h1>

<%= link_to "Manage Needs", admin_charity_needs_path(@charity.slug), class: "btn btn-primary" %>
<%= link_to "Manage Recipients", admin_charity_recipients_path(@charity.slug), class: "btn btn-success" %>
